<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a3alegny.a3alegnyapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MaterialTheme">
        <activity
            android:name=".activities.Clinics.ItemListActivity"
            android:label="@string/title_item_list"
            android:theme="@style/MaterialTheme.NoActionBar"></activity>
        <activity
            android:name=".activities.Clinics.ItemDetailActivity"
            android:label="@string/title_item_detail"
            android:parentActivityName=".activities.Clinics.ItemListActivity"
            android:theme="@style/MaterialTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.a3alegny.a3alegnyapp.activities.Clinics.ItemListActivity" />
        </activity>

        <activity
            android:name=".activities.BaseActivity.Base"
            android:label="@string/title_activity_base"
            android:theme="@style/MaterialTheme.NoActionBar" />

        <activity android:name=".activities.Splash.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>